@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');
@import "tailwindcss";

@theme {
    --font-momo-trust-display: "Momo Trust Display", sans-serif;
}
@layer base {
  input[type="text"] {
    @apply bg-blue-50 rounded-lg m-3;
  }
}