@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap");
@import "tailwindcss";

@theme {
  --font-momo-trust-display: "Momo Trust Display", sans-serif;
}
@layer base {
  input[type="text"],
  input[type="password"] {
    @apply bg-blue-50 rounded-md mb-2;
  }
  button {
    @apply cursor-pointer font-momo-trust-display bg-blue-300 text-gray-800 p-2 rounded-xl font-medium hover:drop-shadow-[0_0_6px_rgba(191,219,254,1)] transition-all ease-in-out;
  }
}
